@model Compositeprimarykey.Models.COMPO

@{
    ViewBag.Title = "Details";
}

<h2>Details</h2>

<div>
    <h4>COMPO</h4>
    <hr />
    <dl class="dl-horizontal">
        <dt>
            @Html.DisplayNameFor(model => model.EMPNAME)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.EMPNAME)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.GENDER)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.GENDER)
        </dd>

        <dt>
            @Html.DisplayNameFor(model => model.SALARY)
        </dt>

        <dd>
            @Html.DisplayFor(model => model.SALARY)
        </dd>

    </dl>
</div>
<p>
    @Html.ActionLink("Edit", "Edit", new { EMP_ID = Model.EMP_ID, DEPT_ID = Model.DEPT_ID }) |
    @Html.ActionLink("Back to List", "DTable")
</p>
